.CurrentWeather .description {
  color: rgb(224, 224, 224);
  font-size: 20px;
}

.CurrentWeather ul {
  margin: 0;
  padding: 0;
}

.CurrentWeather li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(224, 224, 224);
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
}

.CurrentWeather li:first-letter {
  text-transform: capitalize;
}

.CurrentWeather a {
  text-decoration: none;
  color: rgb(129, 96, 128);
}

.CurrentWeather img {
  height: 64px;
  width: 64px;
}

.CurrentWeather .current-temperature strong {
  color: rgb(224, 224, 224);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.CurrentWeather .current-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  left: 4px;
}

.CurrentWeather .current-temperature .active {
  color: rgb(224, 224, 224);
  cursor: default;
}

.CurrentWeather .current-temperature .active:hover {
  text-decoration: none;
}
